In [1]:
#1. Create a set with integers from 1 to 5.
set1={x for x in range(1,6)}
print(set1)

{1, 2, 3, 4, 5}

In [7]:
#2. Add an element to a set.
set1={1,2,3,4,5,6}
print(set1)
set1.add(8)
print(set1)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 8}

In [13]:
#3. Remove an element from a set.
set1={1,2,3,4,5,6}
set1.pop()
print(set1)

{2, 3, 4, 5, 6}

In [22]:
#4. Check if an element exists in a set.
set1=input("Enter items in set (seperating by commas): ")
set1=set(set1.split(","))
element=input("Enter element you want to check: ")
if element in set1:
    print("Available")
else:
    print("Not available")

Enter items in set (seperating by commas): t,y,g,w,4,v
Enter element you want to check: w
Available

In [35]:
#5. Find the length of a set without using the `len()` function.
set1=input("Enter items in set (seperating by commas): ")
set1=set(set1.split(","))
count=0
for i in set1:
    count+=1
print(count)

Enter items in set (seperating by commas): a,b,c,d,1,2
6

In [42]:
#6. Clear all elements from a set.
set1={2,3,4,5}
set1.clear()
print(set1)

set()

In [44]:
#7. Create a set of even numbers from 1 to 10.
set1={x for x in range(1,11) if x%2==0}
print(set1)

{2, 4, 6, 8, 10}

In [45]:
#8. Create a set of odd numbers from 1 to 10.
set1={x for x in range(1,11) if x%2!=0}
print(set1)

{1, 3, 5, 7, 9}

In [47]:
#9. Find the union of two sets.
set1={1,2,3,4,5}
set2={4,5,6,7}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 4, 5, 6, 7}

In [52]:
#10. Find the intersection of two sets.
set1={1,2,3,4,5}
set2={4,5,6,7}
set3=set1.intersection(set2)
print(set3)

{4, 5}

In [53]:
#11. Find the difference between two sets.
set1={1,2,3,4,5}
set2={4,5,6,7}
set3=set1.difference(set2)
print(set3)

{1, 2, 3}

In [9]:
#12. Check if a set is a subset of another set.
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3}
if set2.issubset(set1):
    print("Is a Subset")
else:
    print("Not a subset")

Is a Subset

In [15]:
#13. Check if a set is a superset of another set.
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3}
if set1.issuperset(set2):
    print("Set 2 Is a Superset of set 1")
else:
    print("Set 2 Is not a Superset of set 1")

Set 2 Is a Superset of set 1

In [17]:
#14. Create a set from a list.
list1= [1, 2, 3, 4, 5]
set1={x for x in list1}
print(set1)

{1, 2, 3, 4, 5}

In [18]:
#15. Convert a set to a list.
set1= {1, 2, 3, 4, 5}
list1=[x for x in list1]
print(list1)

[1, 2, 3, 4, 5]

In [24]:
#16. Remove a random element from a set.
import random
set1= {1, 2, 3, 4, 5}
ran=random.randint(0,len(set1))
set1.remove(ran)
print(set1)

{2, 3, 4, 5}

In [28]:
#17. Pop an element from a set.
set1= {1, 2, 3, 4, 5}
set1.pop()
print(set1)

{2, 3, 4, 5}

In [29]:
#18. Check if two sets have no elements in common.
set1 = {1, 2, 3}
set2 = {4, 5, 6}
if set1.isdisjoint(set2):
    print("No common element")
else:
    print("Common elements available")

No common element

In [42]:
#19. Find the symmetric difference between two sets.
set1 = {1, 2, 3}
set2 = {3,4, 5, 6}
set3=set()
for i in set1:
    if i not in set2:
        set3.add(i)
for j in set2:
    if j not in set1:
        set3.add(j)   
print(set3)

{1, 2, 4, 5, 6}

In [43]:
#20. Update a set with elements from another set.
set1 = {1, 2, 3}
set2 = {3,4, 5, 6}
set1.update(set2)
print(set1)

{1, 2, 3, 4, 5, 6}

In [60]:
#21. Create a set of the first 5 prime numbers.
set1 = set()
x = 2  
while len(set1) < 5:
    prime = True
    for i in range(2, x): 
        if x % i == 0:
            prime = False
            break
    if prime:
        set1.add(x)
    x += 1
print(set1)

{2, 3, 5, 7, 11}

In [65]:
#22. Check if two sets are identical.
set1={1,2,3}
set2={1,2,3}
if set1==set2:
    print("Identical")
else:
    print("Not identical")

yes

In [67]:
#23. Create a frozen set.
set1 = frozenset([1, 2, 3, 4, 5])
print(set1)

frozenset({1, 2, 3, 4, 5})

In [69]:
#24. Check if a set is disjoint with another set.
set1 = {1, 2, 3}
set2 = {3,4, 5, 6}
set1.isdisjoint(set2)

False

In [71]:
#25. Create a set of squares of numbers from 1 to 5.
set1={x**2 for x in range(1,6)}
print(set1)

{1, 4, 9, 16, 25}

In [81]:
#26. Filter out all even numbers from a set.
set1={1,2,3,4,5,6,7,8,9}
set2={x for x in set1 if x %2== 0}
print(set2)

{8, 2, 4, 6}

In [82]:
#27. Multiply all elements in a set by 2.
set1={1,2,3,4,5,6,7,8,9}
set2={x*2 for x in set1}
print(set2)

{2, 4, 6, 8, 10, 12, 14, 16, 18}

In [94]:
#28. Create a set of random numbers.
import random
set1={random.randint(1,100) for x in range(11)}
print(set1)

{99, 69, 39, 74, 48, 16, 18, 23, 88, 57, 31}

In [98]:
#29. Check if a set is empty.
set1={}
if set1:
    print("Not empty")
else:
    print("Empty")

Empty

In [101]:
#30. Create a nested set (hint: use frozenset).
set1 = frozenset({1, 2, 3, frozenset({1, 2})})
print(set1)

frozenset({1, 2, 3, frozenset({1, 2})})

In [1]:
#31. Remove an element from a set using the discard method.
set1 = {1, 2, 3, 4, 5}
set1.discard(3)
print(set1)

{1, 2, 4, 5}

In [11]:
#32. Compare two sets.
set1={1,2,3,4,5}
set2={1,2,3,4,5}
if set1==set2:
    print("are equal")
else:
    print("not equal")

are equal

In [14]:
#33. Create a set from a string.
string="Hi there how are you"
set1={x for x in string.split(" ")}
print(set1)

{'how', 'Hi', 'are', 'you', 'there'}

In [21]:
#34. Convert a set of strings to a set of integers.
set1={"1","2","3","4","5"}
set2={int(x) for x in set1}
print(set2)

{1, 2, 3, 4, 5}

In [22]:
#35. Convert a set of integers to a set of strings.
set1={1, 2, 3, 4, 5}
set2={str(x) for x in set1}
print(set2)

{'4', '1', '3', '2', '5'}

In [25]:
#36. Create a set from a tuple.
tuple1=(1,2,3,4,5,6,7)
print(set(tuple1))

{1, 2, 3, 4, 5, 6, 7}

In [26]:
#37. Convert a set to a tuple.
set1={1, 2, 3, 4, 5, 6, 7}
print(tuple(set1))

(1, 2, 3, 4, 5, 6, 7)

In [27]:
#38. Find the maximum value in a set.
set1={1, 2, 3, 4, 5, 6, 7}
print(max(set1))

7

In [28]:
#39. Find the minimum value in a set.
set1={1, 2, 3, 4, 5, 6, 7}
print(min(set1))

1

In [6]:
#40. Create a set from user input.
set1 = set()
elements = input("Enter elements separated by commas: ").split(",")
for i in elements:
    set1.add(i)
print(set1)

Enter elements separated by commas: hi,f,r,e,w,
{'', 'hi', 'w', 'r', 'e', 'f'}

In [11]:
#41. Check if the intersection of two sets is empty.
set1={1,3,4,5}
set2={1,2}
set3=set1.intersection(set2)
if set3:
    print("intersection is there")
else:
    print("intersection is not there")

intersection is there

In [17]:
#42. Create a set of the first 5 Fibonacci numbers.
set1=set()
n=5
fib=[0,1]
while len(set1)<n:
    fib2=fib[-1]+fib[-2]
    set1.add(fib2)
    fib.append(fib2)
print(set1)

{1, 2, 3, 5, 8}

In [18]:
#43. Remove duplicates from a list using sets.
list1=[1,2,3,3,4,5]
set1=set(list1)
print(set1)

{1, 2, 3, 4, 5}

In [19]:
#44. Check if two sets have the same elements, regardless of their count.
set1={1,2,3,4,5}
set2={1,2,3,4,5}
if set1==set2:
    print("Have same element")
else:
    print("dont have same element")

Have same element

In [20]:
#45. Create a set of the first `n` powers of 2.
n=5
set1={2**x for x in range(n)}
print(set1)

{1, 2, 4, 8, 16}

In [22]:
#46. Find the common elements between a set and a list.
set1={1,2,3,4,5,6}
set2={2,3,4,5,6,7}
set3=set2.intersection(set1)
print(set3)

{2, 3, 4, 5, 6}

In [27]:
#47. Create a set of the first `n` triangular numbers.
n = 5 
set1 = set()
for i in range(1, n + 1):
    num = i * (i + 1) // 2  
    set1.add(num)
print(set1)

{1, 3, 6, 10, 15}

In [30]:
#48. Check if a set contains another set as a subset.
set1 = {1, 2, 3, 4, 5, 6, 7}
set2 = {5, 6, 7}
if set2.issubset(set1):
    print("yes")
else:
    print("no")

yes

In [40]:
#49. Create a set of alternating 1s and 0s of length `n`.
n = 10
set1 = [1 if i % 2 == 0 else 0 for i in range(n)]
print(set1)

[1, 0, 1, 0, 1, 0, 1, 0, 1, 0]

In [33]:
#50. Merge multiple sets into one.
set1={1,2,3}
set2={4,5,6}
for x in set2:
    set1.add(x)
print(set1)

{1, 2, 3, 4, 5, 6}