In [3]:
#1. Create a tuple with integers from 1 to 5.
tuple1=tuple(x for x in range(1,6))
print(tuple1)

(1, 2, 3, 4, 5)

In [5]:
#2. Access the third element of a tuple.
tuple1=(1,2,3,4,5,6)
print(tuple1[2])

3

In [8]:
#3. Find the length of a tuple without using the `len()` function.
count=0
tuple1=input("Enter elements into Tuple (seperating by commas): ")
tuple1=tuple1.split(",")
for i in tuple1:
    count+=1
print(count)

Enter elements into Tuple (seperating by commas): f,g,w,s,g,e
6

In [34]:
#4. Count the occurrences of an element in a tuple.
tuple1=input("Enter elements into Tuple (seperating by commas): ")
tuple1=tuple1.split(",")
element=input("Enter element you want to find occurences: ")
count=tuple1.count(element)
print(f"Number of occurences of {element} in tuple is: {count}")

Enter elements into Tuple (seperating by commas): 1,2,3,3,3,4,5,6,6
Enter element you want to find occurences: 3
Number of occurences of 3 in tuple is: 3

In [27]:
#5. Find the index of the first occurrence of an element in a tuple.
tuple1=input("Enter elements into Tuple (seperating by commas): ")
tuple1=tuple1.lower()
tuple1=tuple1.split(",")
element=input("Enter element you want to find first occurence index: ")
element=element.lower()
index=tuple1.index(element)
print(index)

Enter elements into Tuple (seperating by commas): 1,2,3,3,4,5,6,5
Enter element you want to find first occurence index: 5
5

In [26]:
#6. Check if an element exists in a tuple.
tuple1=input("Enter elements into Tuple (seperating by commas): ")
tuple1=tuple1.lower()
tuple1=tuple1.split(",")
element=input("Enter element you want to find: ")
element=element.lower()
if element in tuple1:
    print("Available")
else:
    print("Not available")

Enter elements into Tuple (seperating by commas): 3,4,2,5
Enter element you want to find: 2
Available

In [2]:
#7. Convert a tuple to a list.
tuple1=input("Enter elements into Tuple (seperating by commas): ")
tuple1=tuple(tuple1.split(","))
list1=[x for x in tuple1]
print(tuple1)
print(list1)

Enter elements into Tuple (seperating by commas): 1,2,3,4
('1', '2', '3', '4')
['1', '2', '3', '4']

In [6]:
#8. Convert a list to a tuple.
list1=input("Enter elements into List (seperating by commas): ")
list1=list(list1.split(","))
tuple1=tuple(x for x in list1)
print(list1)
print(tuple1)

Enter elements into List (seperating by commas): 1,2,3,4,5
['1', '2', '3', '4', '5']
('1', '2', '3', '4', '5')

In [ ]:
#9. Unpack the elements of a tuple into variables.
#Doubt in this

In [7]:
#10. Create a tuple of even numbers from 1 to 10.
tuple1=tuple(x for x in range(1,11) if x%2==0)
print(tuple1)

(2, 4, 6, 8, 10)

In [8]:
#11. Create a tuple of odd numbers from 1 to 10.
tuple1=tuple(x for x in range(1,11) if x%2!=0)
print(tuple1)

(1, 3, 5, 7, 9)

In [9]:
#12. Concatenate two tuples.
tuple1=(1,2,3,4)
tuple2=(5,6,7,8)
tuple3=tuple1+tuple2
print(tuple3)

(1, 2, 3, 4, 5, 6, 7, 8)

In [10]:
#13. Repeat a tuple three times.
tuple1=(1,2,3,4)
tuple1=tuple1*3
print(tuple1)

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [22]:
#14. Check if a tuple is empty.
tuple1=()
if tuple1:
    print("Not Empty")
else:
    print("Empty")

Empty

In [23]:
#15. Create a nested tuple.
tuple1=(1,2,3,4,(3,4))
print(tuple1)

(1, 2, 3, 4, (3, 4))

In [6]:
#16. Access the first element of a nested tuple.
tuple1=(1,2,3,4,(3,4))
print(tuple1[4][0])

3

In [8]:
#17. Create a tuple with a single element.
tuple1=(3,)
print(tuple1)

(3,)

In [14]:
#18. Compare two tuples.
tuple1=(1,2,3,4)
tuple2=(4,5,6,7)
print(tuple1==tuple2)
print(tuple1<tuple2)

False
True

In [22]:
#19. Delete a tuple.
tuple1=(1,2,3,4)
del tuple1

In [25]:
#20. Slice a tuple.
tuple1=(1,2,3,4,5,6,7)
tuple2=tuple1[:3]
tuple3=tuple1[3:]
print(tuple2)
print(tuple3)

(1, 2, 3)
(4, 5, 6, 7)

In [26]:
#21. Find the maximum value in a tuple.
tuple1=(1,2,3,4,5,6,7)
print(max(tuple1))

7

In [27]:
#22. Find the minimum value in a tuple.
tuple1=(1,2,3,4,5,6,7)
print(min(tuple1))

1

In [28]:
#23. Convert a string to a tuple of characters.
string="hi how are you"
tuple1=tuple(string)
print(tuple1)

('h', 'i', ' ', 'h', 'o', 'w', ' ', 'a', 'r', 'e', ' ', 'y', 'o', 'u')

In [36]:
#24. Convert a tuple of characters to a string.
tuple1 = ('h', 'i', ' ', 'h', 'o', 'w', ' ', 'a', 'r', 'e', ' ', 'y', 'o', 'u')
string = ''.join(tuple1) 
print(string)

hi how are you

In [39]:
#25. Create a tuple from multiple data types.
tuple1=(1,2,3,"4","f", 3.14, True)
print(tuple1)

(1, 2, 3, '4', 'f', 3.14, True)

In [41]:
#26. Check if two tuples are identical.
tuple1=(1,2,3)
tuple2=(1,2,3)
if tuple1==tuple2:
    print("identical")
else:
    print("not identical")

In [52]:
#27. Sort the elements of a tuple.
tuple1=(4,3,2,5,6,7)
list1=list(tuple1)
list1=sorted(list1)
tuple1=tuple(list1)
print(tuple1)

(2, 3, 4, 5, 6, 7)

In [6]:
#28. Convert a tuple of integers to a tuple of strings.
tuple1 = (1, 2, 3, 4, 5, 6)
tuple2 = tuple(str(x) for x in tuple1)
print(tuple2)

('1', '2', '3', '4', '5', '6')

In [7]:
#29. Convert a tuple of strings to a tuple of integers.
tuple1 = ('1', '2', '3', '4', '5', '6')
tuple2 = tuple(int(x) for x in tuple1)
print(tuple2)

(1, 2, 3, 4, 5, 6)

In [10]:
#30. Merge two tuples.
tuple1=(1,2,3,4)
tuple2=(4,5,6,7)
tuple1=tuple1+tuple2
print(tuple1)

(1, 2, 3, 4, 4, 5, 6, 7)