In [3]:
#1. Create a tuple with integers from 1 to 5.
tuple1=tuple(x for x in range(1,6))
print(tuple1)

(1, 2, 3, 4, 5)

In [5]:
#2. Access the third element of a tuple.
tuple1=(1,2,3,4,5,6)
print(tuple1[2])

3

In [8]:
#3. Find the length of a tuple without using the `len()` function.
count=0
tuple1=input("Enter elements into Tuple (seperating by commas): ")
tuple1=tuple1.split(",")
for i in tuple1:
    count+=1
print(count)

Enter elements into Tuple (seperating by commas): f,g,w,s,g,e
6

In [34]:
#4. Count the occurrences of an element in a tuple.
tuple1=input("Enter elements into Tuple (seperating by commas): ")
tuple1=tuple1.split(",")
element=input("Enter element you want to find occurences: ")
count=tuple1.count(element)
print(f"Number of occurences of {element} in tuple is: {count}")

Enter elements into Tuple (seperating by commas): 1,2,3,3,3,4,5,6,6
Enter element you want to find occurences: 3
Number of occurences of 3 in tuple is: 3

In [27]:
#5. Find the index of the first occurrence of an element in a tuple.
tuple1=input("Enter elements into Tuple (seperating by commas): ")
tuple1=tuple1.lower()
tuple1=tuple1.split(",")
element=input("Enter element you want to find first occurence index: ")
element=element.lower()
index=tuple1.index(element)
print(index)

Enter elements into Tuple (seperating by commas): 1,2,3,3,4,5,6,5
Enter element you want to find first occurence index: 5
5

In [26]:
#6. Check if an element exists in a tuple.
tuple1=input("Enter elements into Tuple (seperating by commas): ")
tuple1=tuple1.lower()
tuple1=tuple1.split(",")
element=input("Enter element you want to find: ")
element=element.lower()
if element in tuple1:
    print("Available")
else:
    print("Not available")

Enter elements into Tuple (seperating by commas): 3,4,2,5
Enter element you want to find: 2
Available

In [2]:
#7. Convert a tuple to a list.
tuple1=input("Enter elements into Tuple (seperating by commas): ")
tuple1=tuple(tuple1.split(","))
list1=[x for x in tuple1]
print(tuple1)
print(list1)

Enter elements into Tuple (seperating by commas): 1,2,3,4
('1', '2', '3', '4')
['1', '2', '3', '4']

In [6]:
#8. Convert a list to a tuple.
list1=input("Enter elements into List (seperating by commas): ")
list1=list(list1.split(","))
tuple1=tuple(x for x in list1)
print(list1)
print(tuple1)

Enter elements into List (seperating by commas): 1,2,3,4,5
['1', '2', '3', '4', '5']
('1', '2', '3', '4', '5')

In [ ]:
#9. Unpack the elements of a tuple into variables.
#Doubt in this

In [7]:
#10. Create a tuple of even numbers from 1 to 10.
tuple1=tuple(x for x in range(1,11) if x%2==0)
print(tuple1)

(2, 4, 6, 8, 10)

In [8]:
#11. Create a tuple of odd numbers from 1 to 10.
tuple1=tuple(x for x in range(1,11) if x%2!=0)
print(tuple1)

(1, 3, 5, 7, 9)

In [9]:
#12. Concatenate two tuples.
tuple1=(1,2,3,4)
tuple2=(5,6,7,8)
tuple3=tuple1+tuple2
print(tuple3)

(1, 2, 3, 4, 5, 6, 7, 8)

In [10]:
#13. Repeat a tuple three times.
tuple1=(1,2,3,4)
tuple1=tuple1*3
print(tuple1)

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [22]:
#14. Check if a tuple is empty.
tuple1=()
if tuple1:
    print("Not Empty")
else:
    print("Empty")

Empty

In [23]:
#15. Create a nested tuple.
tuple1=(1,2,3,4,(3,4))
print(tuple1)

(1, 2, 3, 4, (3, 4))

In [6]:
#16. Access the first element of a nested tuple.
tuple1=(1,2,3,4,(3,4))
print(tuple1[4][0])

3

In [8]:
#17. Create a tuple with a single element.
tuple1=(3,)
print(tuple1)

(3,)

In [14]:
#18. Compare two tuples.
tuple1=(1,2,3,4)
tuple2=(4,5,6,7)
print(tuple1==tuple2)
print(tuple1<tuple2)

False
True

In [22]:
#19. Delete a tuple.
tuple1=(1,2,3,4)
del tuple1

In [25]:
#20. Slice a tuple.
tuple1=(1,2,3,4,5,6,7)
tuple2=tuple1[:3]
tuple3=tuple1[3:]
print(tuple2)
print(tuple3)

(1, 2, 3)
(4, 5, 6, 7)

In [26]:
#21. Find the maximum value in a tuple.
tuple1=(1,2,3,4,5,6,7)
print(max(tuple1))

7

In [27]:
#22. Find the minimum value in a tuple.
tuple1=(1,2,3,4,5,6,7)
print(min(tuple1))

1

In [28]:
#23. Convert a string to a tuple of characters.
string="hi how are you"
tuple1=tuple(string)
print(tuple1)

('h', 'i', ' ', 'h', 'o', 'w', ' ', 'a', 'r', 'e', ' ', 'y', 'o', 'u')

In [36]:
#24. Convert a tuple of characters to a string.
tuple1 = ('h', 'i', ' ', 'h', 'o', 'w', ' ', 'a', 'r', 'e', ' ', 'y', 'o', 'u')
string = ''.join(tuple1) 
print(string)

hi how are you

In [39]:
#25. Create a tuple from multiple data types.
tuple1=(1,2,3,"4","f", 3.14, True)
print(tuple1)

(1, 2, 3, '4', 'f', 3.14, True)

In [41]:
#26. Check if two tuples are identical.
tuple1=(1,2,3)
tuple2=(1,2,3)
if tuple1==tuple2:
    print("identical")
else:
    print("not identical")

In [52]:
#27. Sort the elements of a tuple.
tuple1=(4,3,2,5,6,7)
list1=list(tuple1)
list1=sorted(list1)
tuple1=tuple(list1)
print(tuple1)

(2, 3, 4, 5, 6, 7)

In [6]:
#28. Convert a tuple of integers to a tuple of strings.
tuple1 = (1, 2, 3, 4, 5, 6)
tuple2 = tuple(str(x) for x in tuple1)
print(tuple2)

('1', '2', '3', '4', '5', '6')

In [7]:
#29. Convert a tuple of strings to a tuple of integers.
tuple1 = ('1', '2', '3', '4', '5', '6')
tuple2 = tuple(int(x) for x in tuple1)
print(tuple2)

(1, 2, 3, 4, 5, 6)

In [10]:
#30. Merge two tuples.
tuple1=(1,2,3,4)
tuple2=(4,5,6,7)
tuple1=tuple1+tuple2
print(tuple1)

(1, 2, 3, 4, 4, 5, 6, 7)

# 31. Flatten a nested tuple.
tuple1=(1,2,3,4,(5,6,7))
tuple2=tuple(x[0][0] for x in tuple1)
print(tuple2)

In [1]:
# 32. Create a tuple of the first 5 prime numbers.
primes = []
x = 2
while len(primes) < 5:
    pe = True
    for i in range(2,x):
        if x % i == 0:
            pe = False
            break
    if pe:
        primes.append(x)
    x += 1
tuple1 = tuple(primes)
print(tuple1)

(2, 3, 5, 7, 11)

In [17]:
#33. Check if a tuple is a palindrome.
tuple1=("m","a","d","a","m")
tuple2=tuple1[::-1]
if tuple1==tuple2:
    print("It is a palindrome")
else:
    print("It is not a palindrome")

It is a palindrome

In [21]:
#34. Create a tuple of squares of numbers from 1 to 5.
tuple1=tuple(x**2 for x in range(1,6))
print(tuple1)

(1, 4, 9, 16, 25)

In [26]:
#35. Filter out all even numbers from a tuple.
tuple1=(1,2,3,4,5,6,7,8,9)
tuple2=tuple(x for x in tuple1 if x%2==0)
print(tuple2)

(2, 4, 6, 8)

In [24]:
#36. Multiply all elements in a tuple by 2.
tuple1=(1,2,3,4,5)
tuple2=tuple(x*2 for x in tuple1)
print(tuple2)

(2, 4, 6, 8, 10)

In [33]:
#37. Create a tuple of random numbers.
import random
tuple1=tuple(random.randint(0,20) for x in range(0,10))
print(tuple1)

(5, 18, 14, 10, 13, 11, 6, 1, 10, 5)

In [36]:
#38. Check if a tuple is sorted.
tuple1=(6,4,8,2,3,5,1,9)
tuple2=tuple(sorted(tuple1))
if tuple1==tuple2:
    print("sorted")
else:
    print("not sorted")

not sorted

In [5]:
#39. Rotate a tuple to the left by `n` positions.
tuple1=(1,2,3,4,5,6)
n = 2
tuple2 = tuple1[n:] + tuple1[:n]
print(tuple2)

(3, 4, 5, 6, 1, 2)

In [8]:
#40. Rotate a tuple to the right by `n` positions.
tuple1=(1,2,3,4,5,6)
n = 2
tuple2 = tuple1[-n:] + tuple1[:-n]
print(tuple2)

(5, 6, 1, 2, 3, 4)

In [22]:
#41. Create a tuple of the first 5 Fibonacci numbers.
fib = [0, 1]
while len(fib) < 5:
    fib.append(fib[-1] + fib[-2])
print(tuple(fib))

(0, 1, 1, 2, 3)

In [23]:
#42. Create a tuple from user input.
tuple1=input("Enter tuple value")
print(tuple1)

Enter tuple valuehi there
hi there

In [26]:
#43. Swap two elements in a tuple.
tuple1=(1,2,3,4,5,6,7,8,9)
tuple1=list(tuple1)
tuple1[2],tuple1[5]=tuple1[5],tuple1[2]
print(tuple(tuple1))

(1, 2, 6, 4, 5, 3, 7, 8, 9)

In [28]:
#44. Reverse the elements of a tuple.
tuple1=(1,2,3,4,5,6,7,8,9,0)
tuple1=tuple1[::-1]
print(tuple1)

(0, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [30]:
#45. Create a tuple of the first `n` powers of 2.
n=5
tuple1=(2**n for n in range(n+1))
print(tuple(tuple1))

(1, 2, 4, 8, 16, 32)

In [35]:
#46. Find the longest string in a tuple of strings.
tuple1 = ("hi", "how", "are", "you", "there")
length = []
for i in tuple1:
    length.append(len(i))
mx = max(length)
index = length.index(mx)
print(tuple1[index])

there

In [36]:
#47. Find the shortest string in a tuple of strings.
tuple1 = ("hi", "how", "are", "you", "there")
length = []
for i in tuple1:
    length.append(len(i))
mn = min(length)
index = length.index(mn)
print(tuple1[index])

hi

In [38]:
#48. Create a tuple of the first `n` triangular numbers.
n=5
tuple1=(i*(i+1)//2 for i in range(1, n + 1))
print(tuple(tuple1))

(1, 3, 6, 10, 15)

In [57]:
#49. Check if a tuple contains another tuple as a subsequence.
tuple1 = (1, 2, 3, 4)
tuple2 = (2, 3)
sub = False
for i in range(len(tuple1) - len(tuple2) + 1):
    if tuple1[i:i+len(tuple2)] == tuple2:
        sub = True
        break
if sub:
    print("yes it contains subsequence")
else:
    print("no it dont contains subsequence")

yes it contains subsequence

In [52]:
#50. Create a tuple of alternating 1s and 0s of length `n`.
n=10
list1=[]
index= 0
for i in range(n):
    index=i%2
    if index==0:
        list1.append(1)
    else:
        list1.append(0)
print(tuple(list1))

(1, 0, 1, 0, 1, 0, 1, 0, 1, 0)